# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Node
node_modules/
npm-debug.log*
dist/
.vite/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Environment
.env
.env.local
testing-app/

# Interview notes
INTERVIEW_NOTES.md
