# Test app environment
# File path examples:
# DATABASE_URL=./data/articles-db.json
# DATABASE_URL=/absolute/path/articles-db.json
# DATABASE_URL=file:///absolute/path/articles-db.json
DATABASE_URL=./data/articles-db.json
OWNER_NAME=owner
OWNER_PASSWORD=owner-password
PORT=8090
